# Urban Energy Trust Lakehouse - Data Exploration

In [ ]:
from src.utils.spark_session import get_or_create_spark_session
from src.utils.config import load_config

config = load_config()
spark = get_or_create_spark_session(config, use_docker=False)

print("Spark session created successfully!")

In [ ]:
# Bronze layer
paths = config['paths']

# Read household info
household_df = spark.read.format("delta").load(
    f"{paths['bronze_root']}/household_info"
)

print("Household Info:")
household_df.show(10)
print(f"Total households: {household_df.count()}")

In [1]:
import pandas as pd
from pathlib import Path

pd.set_option("display.max_columns", None)
pd.set_option("display.width", 120)

In [7]:
BASE_RAW_PATH = Path("/Users/hajar/Documents/urban-energy-trust-lakehouse/data/raw/kaggle_smart_meters_london")
simple_csv_files = [
    "acorn_details.csv",
    "daily_dataset.csv",
    "informations_households.csv",
    "uk_bank_holidays.csv",
    "weather_daily_darksky.csv",
    "weather_hourly_darksky.csv",
]

for file_name in simple_csv_files:
    file_path = BASE_RAW_PATH / file_name
    
    print(f"\n {file_name}")
    
    df = pd.read_csv(file_path, encoding="latin1")
    display(df.head())

 acorn_details.csv

,MAIN CATEGORIES,CATEGORIES,REFERENCE,ACORN-A,ACORN-B,ACORN-C,ACORN-D,ACORN-E,ACORN-F,ACORN-G,ACORN-H,ACORN-I,ACORN-J,ACORN-K,ACORN-L,ACORN-M,ACORN-N,ACORN-O,ACORN-P,ACORN-Q
0,POPULATION,Age,Age 0-4,77.0,83.0,72.0,100.0,120.0,77.0,97.0,97.0,63.0,119.0,67.0,114.0,113.0,89.0,123.0,138.0,133.0
1,POPULATION,Age,Age 5-17,117.0,109.0,87.0,69.0,94.0,95.0,102.0,106.0,67.0,95.0,64.0,108.0,116.0,86.0,89.0,136.0,106.0
2,POPULATION,Age,Age 18-24,64.0,73.0,67.0,107.0,100.0,71.0,83.0,89.0,62.0,104.0,459.0,97.0,96.0,86.0,117.0,109.0,110.0
3,POPULATION,Age,Age 25-34,52.0,63.0,62.0,197.0,151.0,66.0,90.0,88.0,63.0,132.0,145.0,109.0,96.0,90.0,140.0,120.0,120.0
4,POPULATION,Age,Age 35-49,102.0,105.0,91.0,124.0,118.0,93.0,102.0,103.0,76.0,111.0,67.0,99.0,98.0,90.0,102.0,103.0,100.0

 daily_dataset.csv

       LCLid         day  energy_median  energy_mean  energy_max  energy_count  energy_std  energy_sum  energy_min
0  MAC000131  2011-12-15         0.4850     0.432045       0.868            22    0.239146       9.505       0.072
1  MAC000131  2011-12-16         0.1415     0.296167       1.116            48    0.281471      14.216       0.031
2  MAC000131  2011-12-17         0.1015     0.189812       0.685            48    0.188405       9.111       0.064
3  MAC000131  2011-12-18         0.1140     0.218979       0.676            48    0.202919      10.511       0.065
4  MAC000131  2011-12-19         0.1910     0.325979       0.788            48    0.259205      15.647       0.066

 informations_households.csv

       LCLid stdorToU    Acorn Acorn_grouped     file
0  MAC005492      ToU   ACORN-        ACORN-  block_0
1  MAC001074      ToU   ACORN-        ACORN-  block_0
2  MAC000002      Std  ACORN-A      Affluent  block_0
3  MAC003613      Std  ACORN-A      Affluent  block_0
4  MAC003597      Std  ACORN-A      Affluent  block_0

 uk_bank_holidays.csv

  Bank holidays                                          Type
0    2012-12-26                                    Boxing Day
1    2012-12-25                                 Christmas Day
2    2012-08-27                           Summer bank holiday
3    2012-05-06  Queen?s Diamond Jubilee (extra bank holiday)
4    2012-04-06          Spring bank holiday (substitute day)

 weather_daily_darksky.csv

,temperatureMax,temperatureMaxTime,windBearing,icon,dewPoint,temperatureMinTime,cloudCover,windSpeed,pressure,apparentTemperatureMinTime,apparentTemperatureHigh,precipType,visibility,humidity,apparentTemperatureHighTime,apparentTemperatureLow,apparentTemperatureMax,uvIndex,time,sunsetTime,temperatureLow,temperatureMin,temperatureHigh,sunriseTime,temperatureHighTime,uvIndexTime,summary,temperatureLowTime,apparentTemperatureMin,apparentTemperatureMaxTime,apparentTemperatureLowTime,moonPhase
0,11.96,2011-11-11 23:00:00,123,fog,9.40,2011-11-11 07:00:00,0.79,3.88,1016.08,2011-11-11 07:00:00,10.87,rain,3.30,0.95,2011-11-11 19:00:00,10.87,11.96,1.0,2011-11-11 00:00:00,2011-11-11 16:19:21,10.87,8.85,10.87,2011-11-11 07:12:14,2011-11-11 19:00:00,2011-11-11 11:00:00,Foggy until afternoon.,2011-11-11 19:00:00,6.48,2011-11-11 23:00:00,2011-11-11 19:00:00,0.52
1,8.59,2011-12-11 14:00:00,198,partly-cloudy-day,4.49,2011-12-11 01:00:00,0.56,3.94,1007.71,2011-12-11 02:00:00,5.62,rain,12.09,0.88,2011-12-11 19:00:00,-0.64,5.72,1.0,2011-12-11 00:00:00,2011-12-11 15:52:53,3.09,2.48,8.59,2011-12-11 07:57:02,2011-12-11 14:00:00,2011-12-11 12:00:00,Partly cloudy throughout the day.,2011-12-12 07:00:00,0.11,2011-12-11 20:00:00,2011-12-12 08:00:00,0.53
2,10.33,2011-12-27 02:00:00,225,partly-cloudy-day,5.47,2011-12-27 23:00:00,0.85,3.54,1032.76,2011-12-27 22:00:00,10.33,rain,13.39,0.74,2011-12-27 14:00:00,5.52,10.33,0.0,2011-12-27 00:00:00,2011-12-27 15:57:56,8.03,8.03,10.33,2011-12-27 08:07:06,2011-12-27 14:00:00,2011-12-27 00:00:00,Mostly cloudy throughout the day.,2011-12-27 23:00:00,5.59,2011-12-27 02:00:00,2011-12-28 00:00:00,0.10
3,8.07,2011-12-02 23:00:00,232,wind,3.69,2011-12-02 07:00:00,0.32,3.00,1012.12,2011-12-02 07:00:00,5.33,rain,11.89,0.87,2011-12-02 12:00:00,3.26,5.33,1.0,2011-12-02 00:00:00,2011-12-02 15:56:17,6.33,2.56,7.36,2011-12-02 07:46:09,2011-12-02 12:00:00,2011-12-02 10:00:00,Partly cloudy throughout the day and breezy ov...,2011-12-02 19:00:00,0.46,2011-12-02 12:00:00,2011-12-02 19:00:00,0.25
4,8.22,2011-12-24 23:00:00,252,partly-cloudy-night,2.79,2011-12-24 07:00:00,0.37,4.46,1028.17,2011-12-24 07:00:00,5.02,rain,13.16,0.80,2011-12-24 15:00:00,4.37,5.32,1.0,2011-12-24 00:00:00,2011-12-24 15:55:55,7.45,3.17,7.93,2011-12-24 08:06:15,2011-12-24 15:00:00,2011-12-24 13:00:00,Mostly cloudy throughout the day.,2011-12-24 19:00:00,-0.51,2011-12-24 23:00:00,2011-12-24 20:00:00,0.99

 weather_hourly_darksky.csv

,visibility,windBearing,temperature,time,dewPoint,pressure,apparentTemperature,windSpeed,precipType,icon,humidity,summary
0,5.97,104,10.24,2011-11-11 00:00:00,8.86,1016.76,10.24,2.77,rain,partly-cloudy-night,0.91,Partly Cloudy
1,4.88,99,9.76,2011-11-11 01:00:00,8.83,1016.63,8.24,2.95,rain,partly-cloudy-night,0.94,Partly Cloudy
2,3.70,98,9.46,2011-11-11 02:00:00,8.79,1016.36,7.76,3.17,rain,partly-cloudy-night,0.96,Partly Cloudy
3,3.12,99,9.23,2011-11-11 03:00:00,8.63,1016.28,7.44,3.25,rain,fog,0.96,Foggy
4,1.85,111,9.26,2011-11-11 04:00:00,9.21,1015.98,7.24,3.70,rain,fog,1.00,Foggy

In [8]:
block_datasets = {
    "daily_dataset": "daily_dataset/daily_dataset/block_0.csv",
    "halfhourly_dataset": "halfhourly_dataset/halfhourly_dataset/block_0.csv",
    "hhblock_dataset": "hhblock_dataset/hhblock_dataset/block_0.csv",
}

for name, relative_path in block_datasets.items():
    file_path = BASE_RAW_PATH / relative_path
    
    print(f"\n {name} — aperçu de block_0.csv")

    
    df = pd.read_csv(file_path, encoding="latin1")
    display(df.head())

 daily_dataset — aperçu de block_0.csv

       LCLid         day  energy_median  energy_mean  energy_max  energy_count  energy_std  energy_sum  energy_min
0  MAC000002  2012-10-12         0.1385     0.154304       0.886            46    0.196034       7.098       0.000
1  MAC000002  2012-10-13         0.1800     0.230979       0.933            48    0.192329      11.087       0.076
2  MAC000002  2012-10-14         0.1580     0.275479       1.085            48    0.274647      13.223       0.070
3  MAC000002  2012-10-15         0.1310     0.213688       1.164            48    0.224483      10.257       0.070
4  MAC000002  2012-10-16         0.1450     0.203521       0.991            48    0.184115       9.769       0.087

 halfhourly_dataset — aperçu de block_0.csv

       LCLid                         tstp energy(kWh/hh)
0  MAC000002  2012-10-12 00:30:00.0000000             0
1  MAC000002  2012-10-12 01:00:00.0000000             0
2  MAC000002  2012-10-12 01:30:00.0000000             0
3  MAC000002  2012-10-12 02:00:00.0000000             0
4  MAC000002  2012-10-12 02:30:00.0000000             0

 hhblock_dataset — aperçu de block_0.csv

,LCLid,day,hh_0,hh_1,hh_2,hh_3,hh_4,hh_5,hh_6,hh_7,hh_8,hh_9,hh_10,hh_11,hh_12,hh_13,hh_14,hh_15,hh_16,hh_17,hh_18,hh_19,hh_20,hh_21,hh_22,hh_23,hh_24,hh_25,hh_26,hh_27,hh_28,hh_29,hh_30,hh_31,hh_32,hh_33,hh_34,hh_35,hh_36,hh_37,hh_38,hh_39,hh_40,hh_41,hh_42,hh_43,hh_44,hh_45,hh_46,hh_47
0,MAC000002,2012-10-13,0.263,0.269,0.275,0.256,0.211,0.136,0.161,0.119,0.167,0.109,0.168,0.107,0.166,0.117,0.157,0.126,0.146,0.106,0.135,0.191,0.915,0.933,0.122,0.138,0.076,0.133,0.076,0.133,0.085,0.263,0.134,0.235,0.124,0.184,0.230,0.176,0.388,0.260,0.918,0.278,0.267,0.239,0.230,0.233,0.235,0.188,0.259,0.250
1,MAC000002,2012-10-14,0.262,0.166,0.226,0.088,0.126,0.082,0.123,0.083,0.120,0.079,0.121,0.075,0.124,0.073,0.125,0.070,0.130,0.108,0.196,0.346,0.524,0.076,0.129,0.667,0.230,0.220,0.163,0.091,0.170,0.110,0.110,0.121,0.099,0.157,0.093,0.371,0.386,1.085,1.075,0.956,0.821,0.745,0.712,0.511,0.231,0.210,0.278,0.159
2,MAC000002,2012-10-15,0.192,0.097,0.141,0.083,0.132,0.070,0.130,0.074,0.124,0.078,0.118,0.082,0.112,0.087,0.106,0.140,0.120,1.075,0.146,0.123,0.082,0.127,0.077,0.551,0.149,0.129,0.075,0.130,0.075,0.129,0.075,0.128,0.166,0.194,0.695,0.260,0.227,0.255,1.164,0.249,0.225,0.258,0.260,0.334,0.299,0.236,0.241,0.237
3,MAC000002,2012-10-16,0.237,0.237,0.193,0.118,0.098,0.107,0.094,0.109,0.091,0.105,0.091,0.104,0.092,0.103,0.093,0.101,0.144,0.100,0.408,0.102,0.100,0.116,0.354,0.146,0.190,0.991,0.310,0.121,0.113,0.094,0.119,0.087,0.130,0.238,0.204,0.284,0.447,0.266,0.966,0.172,0.192,0.228,0.203,0.211,0.188,0.213,0.157,0.202
4,MAC000002,2012-10-17,0.157,0.211,0.155,0.169,0.101,0.117,0.084,0.118,0.080,0.119,0.075,0.123,0.071,0.126,0.067,0.124,0.118,0.132,0.358,0.628,0.784,0.681,0.749,0.593,0.502,0.115,0.113,0.092,0.124,0.084,0.125,0.078,0.136,0.227,0.207,0.141,0.258,0.217,0.223,0.075,0.230,0.208,0.265,0.377,0.327,0.277,0.288,0.256

In [9]:
def quick_overview(df):
    return pd.DataFrame({
        "column": df.columns,
        "dtype": df.dtypes.astype(str)
    })

display(quick_overview(df))

      column    dtype
LCLid  LCLid   object
day      day   object
hh_0    hh_0  float64
hh_1    hh_1  float64
hh_2    hh_2  float64
hh_3    hh_3  float64
hh_4    hh_4  float64
hh_5    hh_5  float64
hh_6    hh_6  float64
hh_7    hh_7  float64
hh_8    hh_8  float64
hh_9    hh_9  float64
hh_10  hh_10  float64
hh_11  hh_11  float64
hh_12  hh_12  float64
hh_13  hh_13  float64
hh_14  hh_14  float64
hh_15  hh_15  float64
hh_16  hh_16  float64
hh_17  hh_17  float64
hh_18  hh_18  float64
hh_19  hh_19  float64
hh_20  hh_20  float64
hh_21  hh_21  float64
hh_22  hh_22  float64
hh_23  hh_23  float64
hh_24  hh_24  float64
hh_25  hh_25  float64
hh_26  hh_26  float64
hh_27  hh_27  float64
hh_28  hh_28  float64
hh_29  hh_29  float64
hh_30  hh_30  float64
hh_31  hh_31  float64
hh_32  hh_32  float64
hh_33  hh_33  float64
hh_34  hh_34  float64
hh_35  hh_35  float64
hh_36  hh_36  float64
hh_37  hh_37  float64
hh_38  hh_38  float64
hh_39  hh_39  float64
hh_40  hh_40  float64
hh_41  hh_41  float64
hh_42  hh_42  float64
hh_43  hh_43  float64
hh_44  hh_44  float64
hh_45  hh_45  float64
hh_46  hh_46  float64
hh_47  hh_47  float64